/* basics */

html {
  scroll-behavior: smooth;
  font-family: "KacstOne", serif;
  line-height: 1.5;
}

/* font-size */

html   { font-size: 20px }
h1     { font-size: 1.65rem }
h2     { font-size: 1.35rem }
h3     { font-size: 1.05rem }
.meta  { font-size: 0.80rem }
footer { font-size: 0.80rem }
.note  { font-size: 0.875rem }
.en    { font-size: 0.875em }
.card>p{ font-size: 0.80rem }  /* articles' summaries on the home page */
.tnote { font-size: 0.75rem }  /* tag-filter note on the home page */

/* colors */

/* if prefer light */
  html { background: #efefef }
  html { color: #38383c }
  .time    { color: hsl(  0,   0%,  40%) }

  a:link    { color: hsl(220, 70%, 35%) }
  a:visited { color: hsl(280, 50%, 40%) }
  a:focus   {
      outline-color: hsl(250, 90%, 40%) }
  a:hover   { color: hsl(250, 90%, 40%) }
  a:active  {
    background: hsl(220,  70%,  35%);
    color: #efefef;
  }

  .card .tags a        { opacity: 50% }

  .card > p { color: #505056 }

  .blurred { opacity: 33% }

  .note {
    color: hsl(0, 0%, 35%);
    border-right: 0.25em solid hsl(220,  35%,  65%);
  }
  .note  { background: rgba(0, 0, 0, 0.05) }
  .tnote { background: rgba(0, 0, 0, 0.05) }

  :root {
    --shadow:   rgba(0, 0, 0, 0.3);
  }

@media (prefers-color-scheme: dark) {
  html { line-height: 1.6 }
  html { background: #2a2929 }
  html { color: #d0d0d3 }
  h1, h2, h3 { color: #d3d3d5 }
  .time    { color: hsl(  0,   0%,  50%) }

  a:link   { color: hsl(220,  60%,  80%) }
  a:visited{ color: hsl(280,  40%,  70%) }
  a:focus  {
     outline-color: hsl(250,  80%,  75%) }
  a:hover  { color: hsl(250,  80%,  75%) }
  a:active {
    background: hsl(220,  60%,  80%);
    color: #2a2929;
  }

  .card .tags a        { opacity: 65% }

  .card > p { color: #c0c0c6 }

  img { opacity: 65%; transition: opacity 1s }
  img:focus, img:hover { opacity: 100% }

  .blurred { opacity: 50% }

  .note {
    color: hsl(0, 0%, 70%);
    border-right: 0.25em solid hsl(220,  20%,  45%);
  }
  .note  { background: rgba(255, 255, 255, 0.06) }
  .tnote { background: rgba(255, 255, 255, 0.06) }

  :root {
    --shadow:   rgba(255, 255, 255, 0.2);
  }
}

/* macro layout */

html {
  --width: min(95%, 35em);
}

.title, .header-content, main, article, .footer-content {
  width: var(--width);
  margin: 0 auto;
}

main, article {
  padding-bottom: 2em;
}

header svg {
  height: 2em;
  width: auto;
  vertical-align: middle;  /* https://stackoverflow.com/a/22337325 */
}

html, body { width: 100%; margin: 0 }  /* for header.bar */

#navbar { box-shadow: 0  0.1rem 0.1rem  0      var(--shadow) }
footer  { box-shadow: 0 -0.1rem 0.1rem  0      var(--shadow) }
.hsep   { box-shadow: 0  0.2rem 0.1rem -0.1rem var(--shadow) }

.hsep {
  width: calc(var(--width)*1.05);
  margin: 0 auto;
  margin-top: -0.5em;
}

footer {
  padding: 1em;
  text-align: center;
}

header nav {
  display: inline;
}

section {
  padding: 0.5em;
}

.meta { display: flex; justify-content: space-between }

img {
  max-width: 100%;
  height: auto;
}

/* header anchors */

.hh { display: none }

h2, h3 { position: relative }

*:hover > .hh {
  display: inline;
  position: absolute;
  top: 0;
  right: -2.5em;
  padding: 0 1em;
}

/* misc */

h1 { text-align: center }

.time {
  text-align: left;
  word-spacing: 200%;
}
.time > * {
  word-spacing: initial;
}

.blurred {
  transition: 0.5s;
}
.blurred:hover { opacity: 100% }

a:link { text-decoration: none }
article a:link, a:focus, a:hover, a:active { text-decoration: underline 1px }
a { text-underline-offset: 0.35rem }

.note {
  padding: 0.1em;
  padding-right: 0.5em;
  margin: 1em 0;
  position: relative;
}

s {
  text-decoration-thickness: 0.05em;
}

/* home page */

.card {
  padding: 0;
  margin: 1em;
  box-sizing: border-box;
  padding-bottom: 1em;
  border-bottom: 1px dashed;
}

h1:last-child {
  margin-bottom: 0;
}

.card > p {
  margin: 0;
}

.card img {
  max-width: 75%;
  max-height: 12em;
  width: auto;
}

.tnote {
  width: var(--width);
  margin: 1em auto;
  text-align: center;
}
